h3{
  color:green;
}
.taskTitle{
  
    font-weight: 600;
}
.long-text-cell {
  max-width: 150px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
p{
  margin-top: 10px;
}
.ptag{
  margin-top: 10px;
  font-weight: 900;
  font-size: larger;
  color: rgb(90, 90, 90);
}
.bullet-paragraph {
  list-style-type: disc; 
  margin-left: 20px; 
}

.scrollable-container {
  max-height: 150px; 
  overflow-y: auto;
  border: 1px solid #ccc;
}
.scrollable-container2 {
  max-height: 250px; 
  overflow-y: auto;
  border: 1px solid #ccc;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}





