<div class="container">
  <h3>My to-do List</h3>
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" >
    <div class="form-group" >
      <label for="task">Add task</label>
      <input type="text" class="form-control" id="task"  placeholder="Enter task" name="task" ngModel required>
      <small *ngIf="myForm.invalid && myForm.dirty" id="errorMessage" class="form-text text-danger">Required
        field</small>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" >Submit</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" >Task</th>
        <th scope="col">Action</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of task; index as i ">
        <td class="taskTitle long-text-cell"><p><u>{{ t.taskName }}</u></p></td>
        <td><button class="btn btn success" style="background-color: rgb(0, 189, 0);"><mat-icon>done_outline</mat-icon></button></td>
        <td>
          <button class="btn btn-danger" (click)="delete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
